<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Note Title">
      <mat-error *ngIf="form.get('title').invalid">Enter title for note.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker>
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Note Content"
        rows="25"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Write note here.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      style="background-color: rgb(69, 212, 69); color: white;"
      type="submit">Save Note</button>
  </form>
</mat-card>
